$colortitle: #0a9cf0;

* {
  margin: 0em;
  padding: 0px;
  box-sizing: border-box;
  border: 0;

  a {
    text-decoration: none;
    color: #000;
  }

  font-family: Arial,
  "Helvetica Neue",
  Helvetica,
  sans-serif;
}


li {
  list-style: none;
  display: inline;
  // font-size: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  background-color: #0be5ec;
}

// header
.header {
  background-color: rgb(32, 39, 48);
  color: $colortitle;
}

.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.header__title {
  width: 50%;
  font-size: 32px;
}

.header__navbar {
  width: 50%;
  font-size: 24px;

}

.header__navbarlist {
  display: flex;
  justify-content: space-between;

  a {
    color: $colortitle;
  }
}

// /header

// intro
img {
  width: 300px;
  height: 100%;
}

.intro {
  padding: 30px 0;
}

.intro__row {
  display: flex;
  justify-content: space-between;
}

.intro__title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}

.intro__column {
  padding-left: 20px;
}

// /intro


// imageone

.imageone {
  height: 630px;
  width: 100%;
  background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(24,24,24,0.9) 91%,rgba(14,14,14,0.9) 100%), url('../img/image_2.jpg');
  background-size: cover;
}

.imageone_image {
  color: #ddd;
  display: flex;
  height: 100%;
  flex-direction: column;
  & p {
    margin: 15px 0;
  }
  &:first-child {
    padding-top: 70px;
  }
}
// /imageone
